form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  mat-dialog-content{
    margin: 20px;
  }

.row{
    display: flex;
    flex-direction: row;
}

.row > * {
    margin: 0 12px;
  }