<h1 mat-dialog-title>{{ action }} Vehiculo</h1>
<div mat-dialog-content>
  <form *ngIf="dataForm" [formGroup]="dataForm">
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Descripcion</mat-label>
        <input matInput formControlName="description" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>No. Chasis</mat-label>
        <input type="number" matInput formControlName="chassisNumber" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>No. Motor</mat-label>
        <input type="number" matInput formControlName="engineNumber" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>No. Placa</mat-label>
        <input type="number" matInput formControlName="plateNumber" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tipo de Vehiculo</mat-label>
        <mat-select formControlName="vehicleTypeId">
          <mat-option
            *ngFor="let item of ddlVehicleTypeValues"
            [value]="item.id"
            >{{ item.description }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Marca</mat-label>
        <mat-select
          formControlName="brandId"
          (selectionChange)="onChangeBrand($event)"
        >
          <mat-option *ngFor="let item of ddlBrandValues" [value]="item.id">{{
            item.description
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Modelo</mat-label>
        <mat-select formControlName="modelId">
          <mat-option
            *ngFor="let item of ddlFilteredModelValues"
            [value]="item.id"
            >{{ item.description }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Tipo Combustible</mat-label>
        <mat-select formControlName="fuelTypeId">
          <mat-option
            *ngFor="let item of ddlFuelTypeValues"
            [value]="item.id"
            >{{ item.description }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="status">
          <mat-option value="true">Activo</mat-option>
          <mat-option value="false">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onDismiss()">Cancelar</button>
  <button
    mat-raised-button
    [disabled]="dataForm.invalid"
    color="primary"
    (click)="onConfirm()"
  >
    Guardar
  </button>
</div>
