<h1 mat-dialog-title>{{ action }} Renta</h1>
<div mat-dialog-content>
  <form *ngIf="dataForm" [formGroup]="dataForm">
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Vehiculo</mat-label>
        <mat-select formControlName="vehicleId">
          <mat-option *ngFor="let item of ddlVehicleValues" [value]="item.id"
            >{{ item.brand.description }}-{{
              item.model.description
            }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cliente</mat-label>
        <mat-select formControlName="clientId">
          <mat-option *ngFor="let item of ddlClientValues" [value]="item.id">{{
            item.name
          }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Empleado</mat-label>
        <mat-select formControlName="employeeId">
          <mat-option
            *ngFor="let item of ddlEmployeeValues"
            [value]="item.id"
            >{{ item.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="spacer"></div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Fecha Renta</mat-label>
        <input
          matInput
          formControlName="rentDate"
          [readonly]="isEditing"
          [matDatepicker]="picker2"
          (dateChange)="onDateChange()"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Fecha Devolucion</mat-label>
        <input
          matInput
          formControlName="returnDate"
          [readonly]="isEditing"
          [matDatepicker]="picker"
          (dateChange)="onDateChange()"
        />

        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Cant. Dias</mat-label>
        <input type="number" matInput formControlName="daysQuantity" readonly />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Tarifa por Dia</mat-label>
        <input
          type="number"
          matInput
          formControlName="ratePerDay"
          [readonly]="isEditing"
        />
      </mat-form-field>
      <mat-checkbox matInput formControlName="returned">Devuelto?</mat-checkbox>
    </div>
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Estado</mat-label>
        <mat-select formControlName="status">
          <mat-option value="true">Activo</mat-option>
          <mat-option value="false">Inactivo</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onDismiss()">Cancelar</button>
  <button
    mat-raised-button
    [disabled]="dataForm.invalid || !isDateValid"
    color="primary"
    (click)="onConfirm()"
  >
    Guardar
  </button>
</div>
